* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



:root {
    --green: #2BED3F;
    --gray: rgba(58, 58, 58, .8);
    --pink: #F6B29D;
    --box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, .25);
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.titles {
    font-size: 3.2rem;
    font-weight: 600;
    background: linear-gradient(89.98deg, #2BED3F 0.02%, #F6B29D 98.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 10rem 0rem;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: inherit;
}